  /* Special */
$background: #161415;
$foreground: #FBF9EF;
$cursor: #989978;

  /* Colors */
$color0: #3D3B3D;
$color1: #150D13;
$color2: #282B01;
$color3: #635255;
$color4: #696834;
$color5: #BC999E;
$color6: #B6B39E;
$color7: #F1EFE0;
$color8: #A8A79D;
$color9: #1C1119;
$color10: #353901;
$color11: #846D71;
$color12: #8C8B45;
$color13: #FBCCD2;
$color14: #F3EFD2;
$color15: #F1EFE0;
