  /* Special */
$background: #0F1010;
$foreground: #F6F1F2;
$cursor: #9E9587;

  /* Colors */
$color0: #393A3B;
$color1: #424546;
$color2: #635A4A;
$color3: #71767B;
$color4: #917962;
$color5: #74808A;
$color6: #ACA1A4;
$color7: #EAE3E4;
$color8: #A39FA0;
$color9: #45484B;
$color10: #71654F;
$color11: #767E84;
$color12: #A98460;
$color13: #91A2B0;
$color14: #E5D7DA;
$color15: #EAE3E4;
