@define-color foreground #d3d0bd;
@define-color background #0d0c09;
@define-color cursor #d3d0bd;

@define-color color0 #0d0c09;
@define-color color1 #605D46;
@define-color color2 #6D694B;
@define-color color3 #86774E;
@define-color color4 #7E8273;
@define-color color5 #9B946A;
@define-color color6 #C0B06D;
@define-color color7 #d3d0bd;
@define-color color8 #939184;
@define-color color9 #605D46;
@define-color color10 #6D694B;
@define-color color11 #86774E;
@define-color color12 #7E8273;
@define-color color13 #9B946A;
@define-color color14 #C0B06D;
@define-color color15 #d3d0bd;
